.single_page {
  width: 100%;
  padding: 0 7%;
}

.single_header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
}

.single_header a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #2a8be7;
  font-size: 15px;
}

.single_container {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  border-bottom: 1px solid #000;
}

.single_container_left_card,
.single_container_right_card {
  height: 100%;
}

.single_container_left_card {
  display: flex;
  padding-top: 20px;
}

.single_container_left_card .left_card_scroll_img {
  width: 20%;
  height: 55%;
  overflow: hidden;
  overflow-y: auto;
  padding: 0 2px;
}

.left_card_scroll_img .scroll_card {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.scroll_item_img {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  padding: 10px 0;
  cursor: pointer;
  /* overflow: hidden; */
}

.scroll_item_img:hover {
  border: 1px solid #999;
}

.scroll_item_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.single_container_left_card .left_card_img_container {
  width: calc(100% - 20%);
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single_container_left_card .left_card_img_container img {
  width: 90%;
  height: 100%;
  object-fit: contain;
}

.single_container_right_card {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right_evaluation_header {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.right_evaluation_header svg {
  font-size: 19px;
  color: #bdc3c9;
  cursor: pointer;
}

.right_evaluation_header span {
  font-size: 12.5px;
  color: #8c8d8e;
}

.card_container_item {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 0;
  font-size: 14px;
  border-radius: 15px;
  background: #fb4444;
  color: #fff;
}

.right_title_container {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}

.right_title_container h2 {
  font-size: 20px;
}

.right_price_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin: 20px 0;
}

.right_price_container_left_border {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.right_price_container_left_border span {
  font-size: 14px;
  color: #5d6d7d;
}

.right_price_container_left_border p {
  font-size: 22px;
  font-weight: 600;
}

.right_price_container_right_border {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.right_price_container_right_border span {
  font-size: 14px;
  color: #5d6d7d;
}

.right_price_container_right_border p {
  font-size: 22px;
  font-weight: 600;
  color: #fb4444;
}

.right_price_container_right_border .white {
  color: #5d6d7d;
}

.right_price_container_right_border s {
  font-size: 15px;
  text-decoration: line-through;
  color: #5d6d7d;
}

.right_month_number_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.month_container {
  display: flex;
  width: 75%;
  height: 50px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  border: 1px solid #e3e8ea;
}

.month_container button {
  border: none;
  background: transparent;
  font-size: 16px;
  border-right: 1px solid #e3e8ea;
  cursor: pointer;
}

.month_container button:hover {
  background: #feedc2;
}

.month_number_btn_container {
  width: 75%;
  height: 55px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.month_number_btn_container button {
  width: 85%;
  height: 100%;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background: #fdbe1f;
  font-size: 17px;
}

.month_number_btn_container button:hover {
  background: #fdcd56;
}

.month_number_btn_container button svg {
  font-size: 20px;
}

.month_number_btn_container .heart_btn_container {
  width: 15%;
  height: 100%;
  box-shadow: 0 0 2px #5d6d7d;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}

.month_number_btn_container .heart_btn_container:hover {
  background: #f5f7f8;
}

.heart_btn_container svg {
  font-size: 25px;
}

.right_admin_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.right_admin_container span {
  font-size: 14px;
  color: #5d6d7d;
}

.right_admin_container a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #000;
  font-size: 18px;
}

.right_admin_container a button {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 2px 3px;
  border: none;
  border-radius: 5px;
  background: #f0f2f4;
  font-size: 15px;
}

.right_admin_container a button svg {
  font-size: 17px;
  color: #fdbe1f;
}

.right_delivery_container {
  width: 75%;
  padding: 10px;
  background: #f4f6f7;
  border-radius: 5px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.delivery_container_header {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.refresh_container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.delivery_container_title_border {
  display: flex;
  align-items: center;
  gap: 15px;
}

.delivery_container_header svg,
.refresh_container svg,
.delivery_container_title_border svg {
  color: #a5b1bb;
  font-size: 22px;
}
.delivery_container_title_border span,
.refresh_container span {
  font-size: 15px;
}

.delivery_container_text {
  border-bottom: 1px solid #bdc3c9;
  padding-bottom: 15px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.delivery_container_text p {
  font-size: 16px;
  color: #50c291;
}

.delivery_container_text span {
  font-size: 13px;
  line-height: 1.5;
}

/* media */

/* @media (max-width: 995px) {
  .single_container {
    grid-template-columns: repeat(1, 100%);
    background: red;
    height: auto;
  }

  .single_container_left_card {
    background-color: dodgerblue;
  }

  .single_container_right_card {
    background: blueviolet;
  }
} */
