.cart_page {
  width: 100%;
  padding: 25px 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* sotb olingan narslar kodi */

.cart_container {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
}

.cart_container .cart_left_cards {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

.cart_left_cards .cart_left_header {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #dee2e4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart_left_header h2 {
  font-size: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart_left_header h2 span {
  font-size: 15px;
  color: #a5b1bb;
  font-weight: 300;
}

.cart_header_select {
  display: flex;
  align-items: center;
  gap: 20px;
}

.select_dalete_btn {
  display: flex;
  align-items: center;
  border-right: 1px solid #d4d6d6;
  height: 30px;
  padding-right: 10px;
}

.select_dalete_btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 12px;
  color: #333;
  font-weight: 100;
}

.select_dalete_btn button svg {
  font-size: 20px;
}

.select_input {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 10px;
}

.select_input span {
  font-size: 12px;
  color: #000;
  font-weight: 100;
}

.select_input input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* cart  scroll container */

.cart_scrol_container {
  width: 100%;
  height: calc(100% - 70px);
  overflow-y: auto;
}

.scroll_car_bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scroll_bar_container {
  width: 100%;
  height: 260px;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.scroll_bar_left_img_container {
  width: 15%;
  height: 100%;
  position: relative;
}

.scroll_bar_left_img_container img {
  width: 85%;
  height: 35%;
  object-fit: contain;
}

.scroll_bar_left_img_container .cart_img_heart_btn {
  position: absolute;
  top: -3px;
  right: 30px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.scroll_bar_left_img_container .cart_img_heart_btn svg {
  color: #fff;
  font-size: 24px;
  filter: drop-shadow(0 0 2px #3a3939);
}

/* scroll right container code*/

.scroll_bar_right_container {
  width: calc(100% - 15%);
  height: 100%;
  border-bottom: 1px solid #dee2e4;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.scroll_bar_right_container_left_cards {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title_header_container {
  width: 100%;
}

.title_header_container p {
  font-size: 15px;
  font-weight: 600;
}

.price_container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.price_container span {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 100;
  color: #5d6d7d;
  gap: 5px;
}

.price_container span p {
  color: #556270;
}

.month_conataner {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border-radius: 5px;
  background: #f4f6f7;
  width: 70%;
  cursor: pointer;
}

.month_conataner span {
  font-size: 13px;
  font-weight: 100;
  color: #5d6d7d;
}

.month_price_container_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.month_price_container_text p {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}

.month_price_container_text p svg {
  color: #8895a3;
  font-size: 15px;
}

.month_price_container_text svg {
  font-size: 19px;
  color: #333;
}

.price_btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #f4f6f7;
  width: 25%;
}

.price_btn_container button {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.price_btn_container button svg {
  font-size: 20px;
  color: #333;
}

.price_btn_container .disable svg {
  color: #dddada;
}

.price_btn_container p {
  font-style: 16px;
  color: #222;
  font-weight: 600;
}

/* scroll_bar_right_container_right_cards code */

.scroll_bar_right_container_right_cards {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 30px;
}

.scroll_bar_right_container_right_cards input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.scroll_bar_right_container_right_cards button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 12px;
  color: #333;
  font-weight: 100;
}

.scroll_bar_right_container_right_cards button svg {
  font-size: 20px;
}

/* all_cart_data_container code */

.all_cart_data_container {
  width: calc(100% - 70%);
  height: 100%;
  padding: 74px 0;
}

.all_data_container {
  width: 100%;
  background: #f4f6f7;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
}

.all_data_header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  align-items: center;
  height: 40px;
}

.all_data_header h2 {
  font-size: 21px;
  font-weight: 600;
  color: #333;
}

.all_data_header p {
  font-size: 16px;
  color: #333;
}

.all_data_number_container {
  width: 100%;
  display: grid;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid #e3e8ea;
  padding-bottom: 20px;
}

.number_title_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.number_title_container span,
.number_title_item span {
  font-size: 14px;
  color: #788998;
}

.number_title_container p,
.number_title_item p {
  font-size: 15px;
  font-weight: 100;
  color: #000;
}

.number_title_item {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.number_title_item p {
  color: #39b980;
}

.all_data_title_name {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.all_data_title_name p {
  width: 50%;
  line-height: 1.3;
  font-size: 14px;
}

.cart_btn_container_cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart_btn_title_header_cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin: 20px 0;
}

.cart_btn_title_header_cards p,
.cart_btn_title_header_cards span {
  font-size: 13px;
  font-weight: 500;
  color: #a5b1bb;
}

.cart_btn_title_header_cards p {
  color: #39b980;
}

.cart_btn_container_cards button {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.cart_btn_container_cards .cart_btn_one {
  background: #fdbe1f;
}

.cart_btn_container_cards .cart_btn_one:hover {
  background: #f8d680;
}

.cart_btn_container_cards .cart_btn_two {
  box-shadow: 0 0 3px #000000;
  background: #fff;
}

.cart_btn_container_cards .cart_btn_two:hover {
  background: #f3f6f7;
}

/* bo'sh cart code */

.cart_btn_container {
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 30px 0;
}

.cart_btn_container .cart_btn_title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.cart_btn_title h2 {
  font-size: 27px;
  font-weight: 600;
}

.cart_btn_title span {
  font-size: 15px;
  line-height: 1.3;
  color: #73828f;
  letter-spacing: 0.5px;
}

.cart_btn_container .cart_btn_border {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cart_btn_border button {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}

.cart_btn_border .cart_btn_one {
  background: #fdbe1f;
}

.cart_btn_border .cart_btn_one:hover {
  background: #f8d680;
}

.cart_btn_border .cart_btn_two {
  box-shadow: 0 0 3px #000000;
  background: #fff;
}

.cart_btn_border .cart_btn_two:hover {
  background: #f3f6f7;
}
